/* Navbar */
.navbar-nav .nav-link {
    color: #3b2f2f;
}

.navbar {
    background-color: #fff;
}

/* Hero Section */
.btn.contact-btn {
    background-color: #6b5e3a !important;
    color: #fff !important;
    border: none;
}

.contact-btn:hover,
.contact-btn:focus {
    background-color: #145c32; /* Darker green for hover */
    color: #fff;
}
.hero-section h1 {
    font-family: 'Handlee', cursive;
}